node_modules/
/assets-local/img/temperatures_graph.png
/assets-local/img/temperatures_graph_hour.png
/assets-local/img/temperatures_graph_month.png
/assets-local/img/temperatures_graph_week.png
/app/.auth
