body {
  background-color: #fff;
}
h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; letter-spacing: -1px; line-height: 1em; font-weight: normal; color: #333; }
h1 { font-size: 30px; padding-bottom: 10px; }

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 30px;
}

.onoffswitch {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#led {
  margin: 30px;
  background: url('../img/led_off.png') no-repeat;
  width: 150px;
  height: 330px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#led.on {
  background: url('../img/led_on.png') no-repeat;
}

#output_container {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
#output {
  position: relative;
  width: 100%;
  overflow: auto;
  max-height: 100px;
  text-align: left;
  border: 1px solid #eee;
  color: #666;
  padding: 20px;
  font-family: monospace;
  font-size: 0.8em;
}